

h1{
  background-color: lightblue; 
  flex-direction: row;
  width: 600px;
  height: 60px;
  margin: 0;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  flex-direction: row;
}
.left{
  background-color: cadetblue;
  width: 300px;
  height: 300px;
}

.right{
  background-color: orange;
  width: 300px;
  height: 300px;
}

footer{
  background-color: darkgray;
  margin: 0;
  width: 600px;
  height: 60px;
  margin: 0;
}
