
/* *{
  box-sizing: border-box;
} */
img{
  margin: 10px;
  margin-left: 100px;
  width: 100px;
  height: 60px;
}
.middlebit{
  align-items: center;
  justify-content: center;
  /* background-color: red;   */
  display: flex;
  flex-direction: column;
  height: 630px;
  width: 500px;
  position: relative;
  margin: auto; 

}
h1{
  display: flex;
  margin: 0%;
  align-items: auto;
}
h2{
  height: 30px;
  width: 400px;

}
p{
  height: 30px;
  width: 400px;
}

